@Font-Face {
    font-family: Inter;
    src: url("../assets/fonts/Inter/static/Inter-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@Font-Face {
    font-family: Inter;
    src: url("../assets/fonts/Inter/static/Inter-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@Font-Face {
    font-family: Inter;
    src: url("../assets/fonts/Inter/static/Inter-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@Font-Face {
    font-family: Inter;
    src: url("../assets/fonts/Inter/static/Inter-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

:root {
    --black: hsl(0, 0%, 0%);
    --dark-grey: hsl(0, 0%, 19%);
    --white: hsl(0, 0%, 96%);

    --quote: clamp(0.75rem, 0.618rem + 0.5634vw, 1.125rem);
    --time: clamp(6.25rem, 4.0493rem + 9.3897vw, 12.5rem);
}


html {
    margin: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100dvh;
    display: grid;
    color: var(--white);
    position: relative;
    overflow: hidden;
}

.daytime-picture {
    background: linear-gradient(hsla(0, 0%, 30%, 50%), hsla(0, 0%, 0%, 50%)) ,url("../assets/desktop/bg-image-daytime.jpg") no-repeat;
    background-size: cover;
}

.nighttime-picture {
    background: linear-gradient(hsla(0, 0%, 30%, 50%), hsla(0, 0%, 0%, 50%)), url("../assets/desktop/bg-image-nighttime.jpg") no-repeat;
    background-size: 100%;
}

h1, #time {
    font-size: clamp(6.25rem, 4.0493rem + 9.3897vw, 12.5rem);
    font-weight: 700;
    letter-spacing: -2px;
    margin: 0;
}

h2 {
    color: #303030;
    font-family: Inter;
    font-size: clamp(1.25rem, 0.4577rem + 3.3803vw, 3.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 116.667%;
    text-transform: uppercase;
}

h4 {
    margin: 0;
    font-size: clamp(0.9375rem, 0.8275rem + 0.4695vw, 1.25rem);
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h5 {
    font-size: var(--quote);
    font-weight: 700;
}

h6 {
    font-size: clamp(0.625rem, 0.515rem + 0.4695vw, 0.9375rem);
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--dark-grey);
    line-height: 186%;
    margin: 0;
}

p {
    font-size: var(--quote);
}

button {
/*    width: 146px;*/
    height: 56px;
    background-color: var(--white);
    color: hsla(0, 100%, 0%, 50%);
    border-radius: 50px;
    margin-top: 56px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 5px;
    font-family: Inter, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    border: none;
}

button > p {
    padding-inline: 1rem;
}

button:hover svg > circle {
    fill: #999999;
}

.top-section {
    display: grid;
    grid-template-rows: 40% 60%;
    height: 100%;
    transition: all 1s ease-in-out;
}

.bottom-section {
    position: absolute;
    top: 100%;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 40%;
    transition: all 1s ease-in-out;
}

.top-move-up {
    transform: translateY(-40%);
}

.bottom-move-up {
    transform: translateY(-100%);

}

#quote-container, #time-container, #details-container {
    display: flex;
    column-gap: 2em;
    padding: 2% clamp(1.625rem, -1.434rem + 13.0516vw, 10.3125rem);
}

.quote-content {
    max-width: 50%;
}

.quote-content, .time-content {
    min-width: 40%;
}

#quote-container > img {
    width: 17px;
    height: 17px;
}

#quote {
    font-size: clamp(.1rem, .9rem, 18px);
    margin-top: 0;
    line-height: 183%;
}

#author {
    font-size: clamp(.1rem, 1rem, 18px);
}

#time-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


#abbreviation {
    font-size: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
    text-transform: uppercase;
    line-height: 70%;
    font-weight: 300;
}

#quote::after, #quote::before {
    content: '"';
}


#greeting::after {
    content: ", it's currently";
}

#details {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20px);
    width: 100%;
    transition: all 1s;
}

#details-container {
    display: grid;
    grid-template-columns: min(50%, 570px) min(30%, 273px);
}
#left-details-block {
    border-right: 1px solid hsla(0, 100%, 0%, 50%);
}

#right-details-block {
    padding-left: 3rem;
}


@media (max-width: 768px) {
    #time-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #details-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #left-details-block, #right-details-block {
        width: 100%;
        border: none;
    }
    .detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5%;
        max-width: 95%;
    }
    #right-details-block {
        padding-left: 0;
    }

}
@media (max-width: 375px) {

    .detail {
        margin-bottom: 18%;
    }
}

